/* Google Font Poppins Regular 400  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Full body  */
:root {
    --font1: 'Poppins', sans-serif;
    --font2: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* --------------------------------------Banner: The Greatest show on the earth */

header {
    background: #161616;
    border-radius: 30px;
    color: white;
    width: 85%;
    margin: 50px auto 140px;
    height: 500px;
}

.banner {
    display: flex;
    height: 100%;
    width: 100%;
}

.banner-content {
    width: 50%;
    height: 90%;

    padding: 20px 10px 0px 80px;
}

.banner-content h1 {
    font-family: var(--font1);
    color: #FFFFFF;
    font-weight: 700;
    line-height: 60px;
    font-size: 60px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.banner-content p {
    font-family: var(--font1);
    color: #FFFFFF;
    font-size: 12px;
    margin-bottom: 30px;
}

.anchor-tag {
    border-radius: 5%;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #DD0000;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--font2);
    font-weight: bold;
}

.banner-img {
    height: 100%;
    margin-right: 40px;
}

.banner-img img {
    margin-top: 50px;
    height: 90%;
}

.icon {
    margin-left: 10px;
}

/* ----------------------------------------------Cover Done  */
/* -----------------------------------------main body start  */
.blog-content {
    display: flex;
    margin: 0 100px;
}

.nav-bar {
    width: 240px;
    height: 255px;
    background-color: #161616;
    margin-right: 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bar button {
    width: 180px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.nav-bar button a {
    color: #161616;
    text-decoration: none;
    font-family: var(--font1);
    font-weight: bold;
    font-size: 15px;
}

.nav-bar .active-now {
    background-color: #DD0000;
}

.nav-bar .active-now a {
    color: white;
}

/* --------------------------------------------------content  */
.contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog {
    width: 250px;
    border: 1px solid #dcdde1;
    border-radius: 10px;
}

.blog-img img {
    width: 100%;
}

.blog-info {
    padding: 20px;
}

.blog-btn {
    margin-bottom: 15px;
    padding: 3px 15px;
    border: 1px solid #161616;
    color: black;
    font-family: var(--font1);
    font-weight: 500;
    font-size: 12px;
    border-radius: 5px;
    background-color: #b9b9b9a0;
}

.blog-text p {
    font-family: var(--font1);
    font-weight: 600;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 20px;
}

.duration-text {
    display: flex;
    column-gap: 30px;
    color: rgba(22, 22, 22, 0.7);
}

.duration-text .duration-message-icon {
    margin-right: 5px;
    font-size: 12px;
}

.duration-text span {
    font-family: var(--font1);
    font-size: 12px;
    font-weight: 400;
}

.icon-time-sms {
    margin-right: 7px;
    font-size: 14px;
    text-align: center;
}

/* ------------------------------------------------------End Main Body */
/* -----------------------------------------------Start Footer */

footer {
    width: 100%;
    height: 300px;
    color: white;
    background-color: #161616;
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.footer-title {
    margin-bottom: 12px;
}

footer hr {
    width: 85%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
}

footer .footer-menu a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin-right: 45px;
    color: #B9B9B9;
}

.footer-menu {
    margin-bottom: 35px;
    display: flex;
}

.social-media-link a {
    font-size: 18px;
    color: white;

}

.social-media-link {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
}


.fb:hover i {
    transition: all 1s;
    color: #4267B2
}

.messenger:hover i {
    transition: all 1s;
    color: #00B2FF;
}

.twitter:hover i {
    transition: all 1s;
    color: #1DA1F2;
}

.youtube:hover i {
    transition: all 1s;
    color: red;
}

/* -----------------------------------------------------------End Footer */

/* --------------------------------------------Media Queries */
/* ------------------------------------------Mobile View Start */

@media screen and (max-width:688px) {
    header {
        height: auto;
    }

    .banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .banner-content {
        width: 100%;
        padding: 30px 30px 30px 44px;
    }

    .banner-content h1 {
        font-size: 26px;
        line-height: 50px;
    }

    .banner-content p {
        font-size: 8px;
    }

    .banner-img img {
        margin-left: 30px;
        width: 80%;
    }

    /* main  */
    .blog-content {
        flex-direction: column;
        align-items: center;
        margin: 0 60px;
    }


    /* blog  */

    .contents {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog {
        width: 100%;
    }

    .nav-bar {
        margin-right: 0;
        margin-bottom: 20px;
    }


    /* footer  */
    footer {
        height: 500px;
    }

    .footer-menu {
        flex-direction: column;
        align-items: center;
    }

    footer .footer-menu a {
        margin-right: 0;
        margin-top: 18px;
    }

    .social-media-link {
        flex-direction: column;
        align-items: center;
    }


}

/* ------------------------------------------Mobile View End  */

/* --------------------------------------------------------------------iPad View  */


@media only screen and (min-width:688px) and (max-width:992px) {
    header {
        height: auto;
        margin: 50px auto 50px;
    }

    .banner-content {
        width: 100%;
        padding: 30px 10px 0px 44px
    }

    .banner-content {
        width: 50%;
        height: 90%;
        padding: 20px 10px 0px 80px;
    }

    .banner-content h1 {
        font-weight: 700;
        line-height: 30px;
        font-size: 30px;
        margin-top: 70px;
        margin-bottom: 20px;
    }

    .banner-content p {
        font-size: 7px;
        margin-bottom: 30px;
    }

    .anchor-tag {
        border-radius: 5%;
        font-size: 10px;
        padding: 10px 15px;
        text-align: center;
        font-family: var(--font2);
    }

    .banner-img {
        height: 100%;
        margin-right: 40px;
    }

    .banner-img img {
        margin-top: 50px;
        height: 90%;
    }

    /* main body  */

    .blog-content {
        flex-direction: column;
        align-items: center;
        margin: 0 60px;
    }

    .nav-bar {
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #FFF;
        width: 100%;
        height: 100px;
        column-gap: 30px;
    }

    .nav-bar button {
        border: 1px solid gray;
        background-color: white;
    }

    .nav-bar button a {
        font-size: 16px;
        padding: 10px 20px;
    }

    .nav-bar .fix-width {
        width: auto;
    }

    /* blog content  */
    .contents {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    /* footer Menu  */
    .footer-menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 30px;
    }

}